---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.img-super-right {
    float: right;
    width: 50%;
    margin: 1rem -20% 1rem 1rem;
}

.img-super-left {
    float: left;
    width: 50%;
    margin: 1rem 1rem 1rem -20%;
}